<html>
  <head>
    <title>
      Comedians
    </title>
  </head>
  <body>
    <%@comedians.each do |c|%>
      <h1>Name =<%=c.name%></h1>
      <h1>Age =<%=c.age%></h1>
      <h1>specials =
        <%=c.specials%>
      </h1>
    <%end%>
    <h1>
      Average_age =
      <%=Comedian.average_age%>
    </h1>
  </body>

</html>